<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="container row animated fadeIn" style="margin-top: 50px;">
    <div class="col-2">
        <img [src]="artista.images| noimage" alt="Imagen del artista" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank" style="text-decoration: none;">
              Ir a la página del artista.
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn" style="margin-top: 50px;">
    <div class="col">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Vista Previa</th>
                    <th>Canción</th>
                    <th>Album</th>
                    <th>Artistas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img src="{{ track.album.images | noimage }}" alt="Imagen del track" class="img-thumb"></td>
                    <td>
                        <!-- <iframe src="{{ track.id | domseguro }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                        <audio src="{{ track.preview_url }}" controls type="audio/mpeg" allow="encrypted-media"></audio>
                    </td>
                    <td>{{ track.name }} ({{ track.album.release_date }})</td>
                    <td>{{ track.album.name }} ({{ track.album.album_type }})</td>
                    <td>
                        <p *ngFor="let artist of track.artists">{{ artist.name }} </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
